---
import { Lesson } from "@components/learn/";
import Tags from "@components/learn/Tags.tsx";
import Layout from "@layouts/Layout.astro";
import Drawer from "@layouts/Drawer.astro";
import { getCollection                       } from "astro:content";
import { Construction, LibraryBig, Lightbulb, Notebook } from "@lucide/astro";

// retrieve lessons and sort by date
const lessons = (await getCollection("lessons")).sort(Lesson.compare)
---

<Layout>
  <Drawer>
    <div class="flex flex-col w-full h-full items-center">
      <div class="h-4"></div>
      <div class="flex flex-row gap-1">
        <LibraryBig class="w-10 h-10"/>
        <span class="text-4xl font-bold text-center">Lessons</span>
      </div>      
      <div class="h-4"></div>
      <div class="w-full flex flex-row gap-3 flex-wrap max-w-xs justify-center bg-base-100 cursor-pointer sm:max-w-2xl lg:max-w-5xl">
        { lessons.map(lesson => (
          <div onclick={`window.open("/learn/${Lesson.slug(lesson)}")`} class="flex flex-row w-70 h-35 grow-on-hover items-center p-4 rounded-lg border-base-200 shadow-sm hover:bg-base-200 overflow-hidden">
            {/* { !Lesson.isDraft(lesson) && <Notebook     class="w-10 h-10 shrink-0"/> }
            {  Lesson.isDraft(lesson) && <Construction class="w-10 h-10 shrink-0"/> }
            <div class="divider divider-horizontal"></div> */}
            <div class="w-full not-last:flex flex-col flex-1 items-start">
              <span class="text-lg sm:text-xl font-semibold">{lesson.data.title }</span>
              { lesson.data.pubDate && <span class="text-sm sm:text-lg">{lesson.data.pubDate?.toDateString()}</span>}
              <Tags tags={lesson.data.tags} client:load/>
            </div>
          </div>
        ))}
      </div>
    </div>
  </Drawer>
</Layout>