---
import { Lesson } from "@components/learn/lesson";
import Card from "@components/learn/lesson/Card";
import Tags from "@components/learn/lesson/Tags.tsx";
import Layout from "@layouts/Layout.astro";
import Drawer from "@layouts/Drawer.astro";
import { getCollection                       } from "astro:content";
import { Construction, LibraryBig, Lightbulb, Notebook } from "@lucide/astro";

// retrieve lessons and sort by date
const lessons = (await getCollection("lessons")).sort(Lesson.compare)
---

<Layout>
  <Drawer>
    <div class="flex flex-col w-full h-full items-center">
      <div class="h-4"></div>
      <div class="flex flex-row gap-1">
        <LibraryBig class="w-10 h-10"/>
        <span class="text-4xl font-bold text-center">Lessons</span>
      </div>      
      <div class="h-4"></div>
      <div class="w-fit grid grid-cols-3 gap-3 p-8">
         { lessons.map(lesson => <Card lesson={lesson}/>) }
      </div>
    </div>
  </Drawer>
</Layout>