/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ae14c2;
  --ifm-color-primary-dark: #9d12af;
  --ifm-color-primary-darker: #9411a5;
  --ifm-color-primary-darkest: #7a0e88;
  --ifm-color-primary-light: #bf16d5;
  --ifm-color-primary-lighter: #c817df;
  --ifm-color-primary-lightest: #d42de9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ce40b4;
  --ifm-color-primary-dark: #c132a7;
  --ifm-color-primary-darker: #b72f9e;
  --ifm-color-primary-darkest: #962782;
  --ifm-color-primary-light: #d455bc;
  --ifm-color-primary-lighter: #d660c1;
  --ifm-color-primary-lightest: #df80cd;
}
