.question {
  transform-style: preserve-3d;
  transition: transform 100ms linear;
}

.question:hover {
  transform-style: preserve-3d;
  transform:
    perspective(1000px)
    scale(1.03);
  transition: transform 100ms linear
}