---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="font-inter">
	<head>
    <script is:inline>
      let theme = localStorage.getItem("theme");
      if (theme === null)
        document.documentElement.setAttribute("data-theme", "light");
      else
        document.documentElement.setAttribute("data-theme",  theme );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Mister McGee</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
