---
import Card from "@components/learn/lesson/Card";
import Drawer from "@layouts/Drawer.astro";
import Layout from "@layouts/Layout.astro";
import { Hash, Ellipsis } from "@lucide/astro";
import { getCollection } from "astro:content";
import { LibraryBig, Newspaper } from "lucide-react";

export async function getStaticPaths() {
  return (await getCollection("lessons")).reduce((tags, idea) => {
    idea.data.tags?.forEach(tag => {
      if(!tags.includes(tag)) tags.push(tag)
    })
    return tags
  }, new Array<string>()).map(tag => ({
    params: { tag }
  }))
}

const { tag } = Astro.params

const lessons = (await getCollection("lessons"))
  .filter(lesson => lesson.data.tags?.includes(tag))

function slug(lesson: any) {
  return lesson.filePath
    ?.replace(/^src\/learn\//, "")
    ?.replace(/\.mdx?$/, "");
}
---

<Layout>
  <Drawer>
    <div class="flex flex-col w-full h-full items-center">
      <div class="h-4"></div>
      <div class="flex flex-row gap-1">
        <Hash class="w-10 h-10"/>
        <span class="text-4xl font-bold">{ tag }</span>
      </div>      
      <div class="h-4"></div>
      <div class="w-fit grid grid-cols-3 gap-4 p-8">
        { lessons.map(lesson => <Card lesson={lesson}/>) }

      </div>

      <div class="flex flex-row gap-4">
        <a href="/learn/tag" class="grow-on-hover grow flex gap-2 items-center justify-center border border-base-300 rounded-lg shadow-lg overflow-hidden cursor-pointer w-md p-8">
          <Hash/>
          <span>More Tags</span>
        </a>

        <a href="/learn" class="grow-on-hover grow flex gap-2 items-center justify-center border border-base-300 rounded-lg shadow-lg overflow-hidden cursor-pointer w-md p-8">
          <LibraryBig/>
          <span>More Lessons</span>
        </a>
      </div>
      
    </div>
  </Drawer>
</Layout>