.ouch {
  --offset-x: 0px;
  --offset-y: 0px;

  cursor: pointer;
  user-select: none;
  transform: translate(var(--offset-x), var(--offset-y));
}

.particle {
  --offset-x: 0px;
  --offset-y: 0px;
  --scale:    1;

  width : 48px;
  user-select: none;
  position: absolute;
  pointer-events: none;
  transform: translate(var(--offset-x), var(--offset-y)) scale(var(--scale));
}